<div class="container">
  <div class="row">
    <div class="col">
      <div class="spinner-demo my-2">
        <div class="row">
          <div class="col p-2">
            <button
              class="btn btn-primary mx-2"
              (click)="toggleSpinner(spinnerSettings)"
            >
              {{ spinnerSettings.show ? "Hide" : "Show" }}</button
            ><button
              class="btn btn-primary"
              (click)="toggleFullscreen(spinnerSettings)"
            >
              Fullscreen
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="spinner-box">
              <app-spinner [settings]="spinnerSettings">
                Loading slash looks good
                <i class="fas fa-ring"></i>
              </app-spinner>

              <p>I am content behind</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="spinner-demo my-2">
        <div class="row">
          <div class="col p-2">
            <button
              class="btn btn-primary mx-2"
              (click)="toggleSpinner(spinnerSettings1)"
            >
              {{ spinnerSettings1.show ? "Hide" : "Show" }}</button
            ><button
              class="btn btn-primary"
              (click)="toggleFullscreen(spinnerSettings1)"
            >
              Fullscreen
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="spinner-box">
              <app-spinner [settings]="spinnerSettings1">
                Loading slash looks good
                <i class="fas fa-ring"></i>
              </app-spinner>

              <p>sdbgkhskd hgksdhg khkdsjgh</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
